.styled-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid #de5656;
    padding: 8px;
    text-align: left;
  }
  
  .styled-table th {
    background-color: #d09e9e;
  }
  
 